body {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.trev-top-bar {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 8px #27272a;
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.trev-top-bar .trev-top-bar-item:first-child {
  -webkit-animation: top-bar-animation-1 16s ease infinite;
  animation: top-bar-animation-1 16s ease infinite;
}

.trev-top-bar .trev-top-bar-item:nth-child(2) {
  -webkit-animation: top-bar-animation-2 16s ease infinite;
  animation: top-bar-animation-2 16s ease infinite;
}

.trev-top-bar .trev-top-bar-item:nth-child(3) {
  -webkit-animation: top-bar-animation-3 16s ease infinite;
  animation: top-bar-animation-3 16s ease infinite;
}

.trev-top-bar .trev-top-bar-item:nth-child(4) {
  -webkit-animation: top-bar-animation-4 16s ease infinite;
  animation: top-bar-animation-4 16s ease infinite;
}

.trev-top-bar .trev-top-bar-fa-icon,
.trev-top-bar .icon {
  color: #fff;
  margin-right: .3rem;
}

.trev-top-bar .trev-top-bar-fa-icon {
  font-size: 16px;
}

.trev-top-bar .icon svg {
  width: 16px;
  height: 16px;
}

@keyframes top-bar-animation-1 {
  0% {
    left: 100%;
  }
  8.33% {
    left: 0;
  }
  16.66% {
    left: 0;
  }
  24.99% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes top-bar-animation-2 {
  0% {
    left: 100%;
  }
  24.99% {
    left: 100%;
  }
  33.33% {
    left: 0;
  }
  41.66% {
    left: 0;
  }
  49.99% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes top-bar-animation-3 {
  0% {
    left: 100%;
  }
  49.99% {
    left: 100%;
  }
  58.33% {
    left: 0;
  }
  66.66% {
    left: 0;
  }
  74.99% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes top-bar-animation-4 {
  0% {
    left: 100%;
  }
  74.99% {
    left: 100%;
  }
  83.33% {
    left: 0;
  }
  91.66% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}